<div class="main-top">
  <div class="room-detail">
    <%= @room.name %>
  </div>

  <div class="end-button">
  <a href="#">Exit the room</a>
  </div>

</div>

<div class="main-messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%# <div class="form">
  <div class="form-content">
     <input class="form-type" placeholder= "type a message" >
     <label class="form-image">
       <span class="image-file">画像</span>
       <input type="file" class="hidden">
     </label>
  </div>
  <div class="form-send">
    <input class="form-button" type="submit" value="送信">
  </div>

</div> %>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-content">
    <%= f.text_field :content, class: 'form-type', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-button' %>
<% end %>